*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background-color: #c9c6c5;
    justify-content: center;
    align-items: center;
    height: 100vw;
    outline: 1px solid red;
}
.container{
    width: 500px;
    outline: 1px solid red;

}
h1{
    text-align: center;
    margin-bottom: 15px;
}

#display{
    width:100%;
    height: 4vw;
    text-align: left;
    font-size: xx-large;
    margin-bottom: 10px;
    border:none;
    background-color: burlywood;

}

#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:5px;
    background-color: #142f44;
}

button{
    font-weight: bolder;
}
.operator{
    background-color:#FFFF00 ;
}